<container>	
	<row>
	<hr>
	</row>
  	
    <row>
      <columns small="12" large="12" first last>
      <p>GrowthFountain Capital LLC (GFC) is a funding portal registered with the US Securities and Exchange Commission (SEC) and a member of the Financial Industry Regulatory Authority (FINRA). GFC and its affiliates are not broker dealers and do not provide investment advice. GFC does not participate in the offerings made pursuant to Regulation Crowdfunding and such offerings are not guaranteed to be fully funded. Additional information is available at <a href="growthfountain.com">growthfountain.com</a>. </p>
      </columns>
    </row>
</container>
